<img id="imagePreview" src="#" alt="Image Preview" style="display: none; width: 200px; height: 200px" />
<script>
    const imageInput = document.querySelector('input[type="file"]')
    const imagePreview = document.getElementById('imagePreview')

    imageInput.addEventListener('change', function (event) {
        const file = event.target.files[0]

        if (file) {
            const reader = new FileReader()

            reader.onload = function (e) {
                imagePreview.src = e.target.result
                imagePreview.style.display = 'block'
            }

            reader.readAsDataURL(file)
        }
    })
</script>
