{% extends "layout/base.html" %} {% block title %}Sản phẩm{% endblock title %} 
{% load humanize %}
{% block main-content %}
<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between pb-4">
            <h4 class="card-title">Thêm sản phẩm</h4>
            <a href="{% url "sanpham.create" %}" class="btn btn-primary">Thêm</a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered verticle-middle">
                <thead>
                    <tr>
                        <th scope="col fw-bold">Tên</th>
                        <th scope="col fw-bold">Giá</th>
                        <th scope="col fw-bold">Trạng thái</th>
                        <th scope="col fw-bold">Hình ảnh</th>
                        <th scope="col fw-bold">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                   {% for l in page_obj %}
                   <tr>
                    <td>{{l.ten}}</td>
                    <td>
                        <ul>
                            {% for d in l.donvitinh %}
                                <li>{{d.donvitinh}}: {{d.gia|intcomma }} đ</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if l.trangthai %}
                            <span class="label label-success">Hiển thị</span>
                        {% else %}
                            <span class="label label-light">Đang ẩn</span>
                        {% endif %}
                    </td>
                    <td>
                        <img src="{{l.ImageURL}}" style="width: 50px; height: 50px;" alt="">
                    </td>
                    <td>
                       <a href="{% url "sanpham.delete" l.id %}">
                            <i class="fa fa-close fa-lg text-danger"></i>
                        </a> 
                    </td>
                    
                </tr>
                   {% endfor %}
                </tbody>
            </table>

            {% include "partials/pagination.html" %}
        </div>
    </div>
</div>

{% endblock main-content %}
